<!DOCTYPE html>
<html>

<head>
    <title>Create Badge</title>
</head>

<body>
<h2>Create New Badge</h2>
<form action="/certbadge/new" method="POST" enctype="multipart/form-data">
<table border="0" width="80%">
    <tr>
      <td colspan="4" style="text-align: right;">
        <a href="/certbadge">Return to Dashboard</a>
      </td>
    </tr>

    <tr>
      <td style="width: 20%;"><p><label>Badge Name</label></p></td>
      <td style="width: 30%;"><input type="text" name="badge_name" required></td>
      <td style="width: 20%;"><p><label>Badge</label></p></td>
      <td style="width: 30%;"><textarea name="badge_description" rows="4" cols="40"></textarea></td>
    </tr>
    <tr>
      <td style="width: 20%;"><p><label>Badge Image</label></p></td>
      <td style="width: 30%;"><input type="file" name="badge_image" accept="image/*"></td>
    </tr>
    <tr>
      <td colspan="4" style="text-align: right;">
        <button type="submit">Create</button>
      </td>
    </tr>
</table>
</form>

   
    
</body>

</html>